pytorch-lightning
pytorch-lightning-bolts
pandas
numpy
tqdm
python_speech_features
torchsummary
scipy
audioread
librosa
torchmetrics
pytorch-metric-learning
augly
tabulate
hyperpyyaml
tensorboardx
torch-audiomentations
